.nameForm{
  position: absolute;
  left: 300px;
  width: 1000px; /* Ширина слоя */
  padding: 10px; /* Поля вокруг текста */
  top:100px;
}

.descriptionForm{
  position: absolute;
  left: 300px;
  width: 900px; /* Ширина слоя */
  padding: 10px; /* Поля вокруг текста */
  top:150px;
}

.filterForm{
  position: absolute;
  left: 300px;
  width: 900px; /* Ширина слоя */
  padding: 10px; /* Поля вокруг текста */
  top:280px;
}

.tagForm{
  position: relative;
  top:20px;
}

.btn-success{
  position: absolute;
  left: 1050px;
  top:110px;
}

.btn-group-lg{
  position: absolute;
  left: 1150px;
  top:113px;
}

.participants{
  position: relative;
  top:20px;
}


