<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a href="#" class="navbar-brand">
    <img src="../../assets/img/logo.png"
         width="80" height="60" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/start-page" class="nav-link">Главная страница</a>
      </li>
      <li class="nav-item">
        <a routerLink="/lk" class="nav-link">Личный кабинет</a>
      </li>
      <li class="nav-item">
        <a routerLink="/my-projects" class="nav-link">Мои проекты</a>
      </li>
      <li class="nav-item">
        <a routerLink="/participations" class="nav-link">Участие в проектах</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/create-project" class="nav-link">Создать проект</a>
      </li>
      <li class="nav-item">
        <a routerLink="/project-searching" class="nav-link">Поиск проекта</a>
      </li>
      <li class="nav-item">
        <a routerLink="/user-searching" class="nav-link">Найти команду</a>
      </li>
      <li class="nav-item">
        <a routerLink="/notifications" class="nav-link">Уведомления</a>
      </li>
      <li class="nav-item">
        <button (click)="logout()" class="btn btn-outline-success my-2 my-sm-0">Выйти</button>
      </li>
    </ul>
  </div>
</nav>
<p>&#160;</p>

<h3 *ngIf="!created" align="center">Создайте свой проект, найдите участников и приступайте к совместной работе</h3>

<div *ngIf="!created" class="nameForm">
  <form [formGroup]="nameForm" (ngSubmit)="onNameFormSubmit()">
    <table>
      <tr>
        <td width="200px" style="text-decoration: underline;">Имя проекта</td>
        <td></td>
        <td width="200px"><input style="width: 500px; height: 35px;" formControlName="name" class="form-control mr-sm-2"></td>
      </tr>
    </table>
  </form>
</div>

<div *ngIf="!created" class="descriptionForm">
  <form [formGroup]="descriptionForm" (ngSubmit)="onDescriptionFormSubmit()">
    <table>
      <tr>
        <td width="200px" style="text-decoration: underline;">Описание</td>
        <td width="200"><textarea style="width: 500px; height: 100px;" formControlName="description" class="form-control mr-sm-2"></textarea></td>
      </tr>
    </table>
  </form>
</div>

<div *ngIf="!created" class="cityForm">
  <form [formGroup]="cityForm" (ngSubmit)="onCityFormSubmit()">
    <table>
      <tr>
        <td width="200px" style="text-decoration: underline;">Город</td>
        <td width="200"><input style="width: 500px; height: 35px;" formControlName="city" class="form-control mr-sm-2"></td>
      </tr>
    </table>
  </form>
</div>

<div class="filter">
<div *ngIf="!created" [formGroup]="profAreaForm" (ngSubmit)="onProfAreaFormSubmit()" class="profAreaForm">
  <table>
    <tr>
      <td width="200px" style="text-decoration: underline;">Введите проф. область</td>
      <td><select style="width: 250px;" name="select" formControlName="profArea" class="form-control mr-sm-2">
        <option *ngFor="let profArea of profAreas" value={{profArea.id}}>{{profArea.name}}</option>
      </select></td>
      <td><label *ngIf="profAreaForm.get('profArea').invalid && processValidation" [ngClass] = "'error'" > Укажите название </label></td>
      <td><button (click)="onProfAreaFormSubmit()" class="btn btn-outline-success my-2 my-sm-0">Добавить</button></td>
    </tr>
    <tr>
      <td width="200px">Добавлено:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let profArea of profAreaArray" >
      <td></td>
      <td>{{profArea?.name}}</td>
      <td></td>
      <td><button type="button" (click)="deleteProfArea(profArea)" class="btn btn-danger">Удалить</button></td>
    </tr>

  </table>
</div>

<div *ngIf="!created" [formGroup]="tagForm" (ngSubmit)="onTagFormSubmit()" class="tagForm">
  <table>
    <tr>
      <td width="200px" style="text-decoration: underline;">Введите название тега</td>
      <td ><input style="width: 250px;" formControlName="tag" class="form-control mr-sm-2"></td>
      <td><label *ngIf="tagForm.get('tag').invalid && processValidation" [ngClass] = "'error'" > Укажите название </label></td>
      <td ><button (click)="onTagFormSubmit()" class="btn btn-outline-success my-2 my-sm-0">Добавить</button></td>
    </tr>
    <tr>
      <td width="200px">Добавлено:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let tag of tagArray" >
      <td></td>
      <td>{{tag?.name}}</td>
      <td></td>
      <td><button type="button" (click)="deleteTag(tag)" class="btn btn-danger">Удалить</button></td>
    </tr>
  </table>
</div>
</div>

<button *ngIf="!created" type="button" (click)="createProject()" class="btn btn-success">Создать</button>

<h3 *ngIf="created" align="center"> Проект успешно создан! Просмотреть и отредактировать его можно во вкладке "Мои проекты"</h3>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

