.nameForm{
  position: absolute;
  left: 475px;
  width: 1000px;
  padding: 10px;
  top:70px;
}

.descriptionForm{
  position: absolute;
  left: 475px;
  width: 900px;
  padding: 10px;
  top:120px;
}

.filterForm{
  position: absolute;
  left: 475px;
  width: 900px;
  padding: 10px;
  top:190px;
}

.tagForm{
  position: relative;
  top:0px;
}

.participants{
  position: relative;
  top:0px;
}

.image{
  position: absolute;
  left: 475px;
  padding: 10px;
  top:320px;
}
