.nameForm{
  position: absolute;
  left: 350px;
  width: 1000px; /* Ширина слоя */
  padding: 10px; /* Поля вокруг текста */
  top:70px;
}

.descriptionForm{
  position: absolute;
  left: 350px;
  width: 900px; /* Ширина слоя */
  padding: 10px; /* Поля вокруг текста */
  top:120px;
}

.filterForm{
  position: absolute;
  left: 350px;
  width: 900px; /* Ширина слоя */
  padding: 10px; /* Поля вокруг текста */
  top:190px;
}

.tagForm{
  position: relative;
  top:0px;
}

.participants{
  position: relative;
  top:0px;
}

.image{
  position: absolute;
  left: 350px;
  padding: 10px; /* Поля вокруг текста */
  top:320px;
}
