<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a href="#" class="navbar-brand">
    <img src="../../assets/img/logo.png"
         width="100" height="60" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/start-page" class="nav-link">Главная страница</a>
      </li>
      <li class="nav-item">
        <a routerLink="/lk" class="nav-link">Личный кабинет</a>
      </li>
      <li class="nav-item">
        <a routerLink="/my-projects" class="nav-link">Мои проекты</a>
      </li>
      <li class="nav-item">
        <a routerLink="/participations" class="nav-link">Участие в проектах</a>
      </li>
      <li class="nav-item">
        <a routerLink="/create-project" class="nav-link">Создать проект</a>
      </li>
      <li class="nav-item">
        <a routerLink="/project-searching" class="nav-link">Поиск проекта</a>
      </li>
      <li class="nav-item">
        <a routerLink="/user-searching" class="nav-link">Найти команду</a>
      </li>
      <li class="nav-item">
        <a routerLink="/notifications" class="nav-link">Уведомления</a>
      </li>
      <li class="nav-item">
        <button (click)="logout()" class="btn btn-outline-success my-2 my-sm-0">Выйти</button>
      </li>
    </ul>
  </div>
</nav>
<p>&#160;</p>

<div class="nameForm">
  <table>
    <tr>
      <td style="text-decoration: underline; width: 200px; height: 35px;"><h5>Имя проекта</h5></td>
      <td style="width: 500px; height: 35px;"><h6>{{projectSource?.name}}</h6></td>
    </tr>
  </table>
</div>

<div class="descriptionForm">
  <table>
    <tr>
      <td style="text-decoration: underline; width: 200px; height: 35px;"><h5>Описание</h5></td>
      <td style="width: 500px; height: 35px;"><h6>{{projectSource?.description}}</h6></td>
    </tr>
  </table>
</div>

<div class="filterForm">
  <div class="filter">
    <div class="profAreaForm">
      <table>
        <tr>
          <td width="200px" style="text-decoration: underline;"><h5>Проф. области</h5></td>
          <td></td>
        </tr>
        <tr *ngFor="let profArea of projectSource?.profArea" >
          <td></td>
          <td><h6>{{profArea?.name}}</h6></td>
        </tr>
      </table>
    </div>

    <div class="tagForm">
      <table>
        <tr>
          <td width="200px" style="text-decoration: underline;"><h5>Теги</h5></td>
          <td></td>
        </tr>
        <tr *ngFor="let tag of projectSource?.tags" >
          <td></td>
          <td><h6>{{tag?.name}}</h6></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="participants">
    <table *ngIf="projectSource?.participants?.length != 0">
      <tr>
        <td width="200px" style="text-decoration: underline;"><h5>Участники</h5></td>
        <td></td>
      </tr>
      <tr *ngFor="let user of projectSource?.participants">
        <td></td>
        <td><h6>{{user?.name}} {{user?.lastName}}</h6></td>
      </tr>
    </table>
  </div>
</div>

<img src="http://itd3.mycdn.me/image?id=666852205026&t=20&plc=WEB&tkn=*-LrL6781mc2HZXI6bgYjOttqEhA" class="image" height="300" width="720">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
