select {
  width: 205px; /* Ширина списка в пикселах */
}

.filter {
  position: absolute; /* Относительное позиционирование */
  left: 820px;
  width: 520px; /* Ширина слоя */
  padding: 10px; /* Поля вокруг текста */
  top:70px;
}

